<div>
    <div class="header-section">
        <div class="logo">
            <a href="#" class="brand-wrap">
               LOGO
            </a>
        </div>
        <div class="search-section">
                <div class="input-group">
                    <form class="input-container d-flex" [formGroup]="searchProd" (ngSubmit)="searchProduct()">
                        <div class="form-group search-field">
                            <input type="text"  class="form-control" name="productName" formControlName="productName" placeholder="search by product name" />
                        </div>
                        <div class="form-group">
                            <button class="search-btn" type="submit" >search </button>
                        </div>
                    </form>
                </div>
        </div>
        <div class="login-section">
            <div><a href="#"><i class="fa fa-user-o" aria-hidden="true"></i>
                    <span>Welcome {{currentUser.fullName}}</span>
                </a></div>
            <div class="cart-item"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span *ngIf="showItem"> {{cartValue}}</span> Item</div>
        </div>
    </div>
</div>

<div class="section-content">
    <aside class="left-section">
        <div class="filter-header text-right">
            <a href="#">
                <span>Filters</span>
            </a>
            <span (click)="resetFilters()"><i class="fa fa-repeat" aria-hidden="true"></i>
                <span>Reset Filter</span>
            </span>
        </div>

        <div class="filter-box">
            <h4>Color</h4>
            <div class="align-check">
                <div class="checkbox-label" *ngFor="let filter of colorFilter; let i = index">
                    <label><input type="checkbox" name="c{{i}}" [checked]="filter.isChecked" (change)="selectColor(filter)"> {{filter.title}}</label>
                </div>
            </div>
        </div>

        <div class="filter-box brand-item-panel">
            <h4>Brand</h4>
            <div class="align-check">
                <div class="checkbox-label" *ngFor="let filter of brandFilter; let i = index">
                    <label for="b1"><input type="checkbox" name="B{{i}}" [checked]='filter.isChecked' (click)="selectBrand(filter)">{{filter.title}}</label>
                </div>
               
            </div>
        </div>

        <div class="filter-box">
            <h4>Price</h4>
                <div class="align-check justify-content">
                    <div class="select-item">
                        <select name="" id="min-dis">
                            <option value="Min">Min</option>
                            <option value="$10">$10</option>
                        </select>
                    </div>
                    <div class="select-item">
                        <select name="" id="max-dis">
                            <option value="Min">Max</option>
                            <option value="$10">$10</option>
                        </select>
                    </div>
            </div>
        </div>

        <div class="filter-box">
            <h4>Discount</h4>
            <div class="align-check justify-content">
                <div class="select-item">
                    <select name="" id="min-dis">
                        <option value="Min">Min</option>
                        <option value="10">10%</option>
                    </select>
                </div>
                <div class="select-item">
                    <select name="" id="max-dis">
                        <option value="Min">Max</option>
                        <option value="10">10%</option>
                    </select>
                </div>
            </div>
        </div>

    </aside>
    <main class="right-section">
       <div class="product-list">
           <div class="item-box-3" *ngFor="let products of allProducts">
            <div class="item-box" >
                <div class="product-img">
                    <img [src]="products.image" alt="product img"> 
                </div>
                <div class="content">
                    <div class="product-content">
                        <div class="pr-name"><strong>Product</strong> {{products.title}}</div>
                        <div class="color-name"><strong>Color</strong> <span [style.background-color]= "products.colour.color"></span></div>
                    </div>
                    <div class="product-content">
                     <div class="pr-name"><strong>Brand</strong> {{products.brand}}</div>
                      <button type="button" class="add-item" (click)="addItem()"><span><i class="fa fa-plus" aria-hidden="true"></i></span>Add</button>
                     </div>
                     <div class="product-content">
                         <div class="price-count">${{products.price.final_price}}</div>
                     </div>
                 </div>
             </div><!--end product box-->
            </div>
            
           </div>

    </main>
</div>

<div class="footer-section">
    <div class="copy-right">
        @abc.com
    </div>
    <div class="logo-footer">
        sCart
    </div>
</div>
